.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  margin-top: 166px;
  background-color: #00512a;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-family: "Oregano", cursive;
}
.logo {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  margin-right: 120px;
}
.text-footer {
  align-self: center;
  font-size: 25px;
  color: white;
}
.mail-footer {
  padding-top: 10px;
  font-size: 30px;
  color: white;
}
