@import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap");
.App {
  text-align: center;
  font-family: "Oregano", cursive;
}
header {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #00512a;
  font-family: "Oregano", cursive;
}
body {
  background: white;
  color: #050505;
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-content: center;
  margin-left: 150px;
}
.nav-links-a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 60px;
  padding-top: 10px;
  font-size: 36px;
  color: white;
}
.home-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 21vw;
}
h1 {
  font-size: 32px;
}
.paragraph {
  font-size: 26px;
}

@media screen and (max-width: 1600px) {
  .nav-links-a {
    display: flex;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 5px;
    font-size: 22px;
    flex-wrap: wrap;
    color: white;
  }
  h1 {
    font-size: 21px;
  }
  .paragraph {
    font-size: 20px;
  }
}
@media screen and (max-width: 875px) {
  .nav-links-a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;
    flex-wrap: wrap;
    color: white;
  }
  h1 {
    font-size: 20px;
  }
  .paragraph {
    font-size: 18px;
  }
}
