@import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap");
.App {
  text-align: center;
  font-family: "Oregano", cursive;
}
header {
  display: flex;
  height: 100px;
  background-color: #00512a;
  font-family: "Oregano", cursive;
}
.navbar {
  display: flex;
  flex-direction: row;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-content: center;
}
.nav-links-a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 70px;
  padding-top: 10px;
  font-size: 36px;
  color: white;
}
.home-image {
  display: flex;
  justify-content: center;
  width: 100%;
}
h1 {
  font-size: 32x;
}
.paragraph {
  font-size: 26px;
}
