@import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap");
.App {
  text-align: center;
  font-family: "Oregano", cursive;
}
header {
  display: flex;
  height: 90px;
  width: 100%;
  background-color: #00512a;
  font-family: "Oregano", cursive;
}
body {
  background: white;
  color: #050505;
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.nav-links {
  display: flex;
  list-style-type: none;
  align-content: center;
}
.nav-links-a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 70px;
  padding-top: 4px;
  font-size: 40px;
  color: white;
}
.nav-links-ac {
  display: flex;
  color: white;
  font-size: 40px;
  text-decoration: none;
  margin-left: 90px;
  margin-right: 50px;
  padding-top: 4px;
}
.cadenas {
  width: 50px;
}
.home-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25vw;
}
h1 {
  font-size: 32px;
}
.paragraph {
  font-size: 24px;
}
.hotdrink-link {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 97%;
}
.hotdrink-link-a {
  display: block;
  flex-direction: column;
  text-decoration: none;
  background-color: #00512a;
  border-radius: 15px;
  box-shadow: 4px 4px 4px black;
  color: white;
  width: 31vh;
  height: 28vh;
  margin-top: 3vh;
  margin-right: 6vh;
  margin-left: 14vh;
}
#title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 1600px) {
  .nav-links-a {
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    padding-top: 5px;
    font-size: 22px;
    flex-wrap: wrap;
    color: white;
  }
  .nav-links-ac {
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding-top: 5px;
  }
  .cadenas {
    width: 35px;
    padding-bottom: 8px;
  }
  h1 {
    font-size: 21px;
  }
  .paragraph {
    font-size: 20px;
  }
}
@media screen and (max-width: 875px) {
  .nav-links-a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-top: 5px;
    font-size: 20px;
    flex-wrap: wrap;
    color: white;
  }
  .nav-links-ac {
    display: flex;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 5px;
  }
  .cadenas {
    width: 30px;
  }
  h1 {
    font-size: 20px;
  }
  .paragraph {
    font-size: 18px;
  }
}
